@font-face {
    font-family: SFDistantGalaxy;
    src: url('./assets/fonts/SFDistantGalaxy.ttf');
}
.galaxyFont {
    font-family: SFDistantGalaxy;
}
.textCenter {
    text-align: center;
}
.center {
    margin: auto;
    display: block;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
